*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IntelliJ / Android Studio
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/planningMode.xml
.idea/AndroidProjectSystem.xml
